{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}EgbeMichel — molio{% endblock %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'dist/css/main.css' %}">
  {% block extra_head %}{% endblock %}
</head>
<body class="bg-primary antialiased" >
  <main>{% block content %}{% endblock %}</main>
  <script type="module" src="{% static 'src/js/main.js' %}"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>
