{% extends "base.html" %}
{% block content %}
{% load static %}

    {% include 'components/hero.html' %}
    {% include 'components/about_section.html' %}
    {% include 'components/work_section.html' %} 
    
    {% include 'components/personal_info.html' with info_items=personal_info %}
    
    {% include 'components/section_banner.html' with section_id="education-banner" text="Education" %}
    
    {% include 'components/education.html' with education_list=education_list %}
    
    {% include 'components/section_banner.html' with section_id="skills-banner" text="Skills" %}
    
    {% include 'components/skills.html' with skills_json=skills_json %}
    
    {% include 'components/services.html' with services=services services_json=services_json %}
    
    {% include 'components/section_banner.html' with section_id="creative-banner" text="Creative" %}
    
    {% include 'components/gallery.html' with gallery_items=gallery_items social_links=social_links %}
    
    {% include 'components/globe.html' %}
    
    {% include 'components/feedback_form.html' %}
    
    {% include 'components/contact.html' with email=contact_info.email location=contact_info.location %}

{% endblock %}

